.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading svg{
    width: 100px;
    height: 100px;
    margin: 20px;
    display:inline-block;
    color: blue;
}

@keyframes text {
    50% {
        opacity: 0.1;
    }
}

.loading polygon {
    stroke-dasharray: 22;
    stroke-dashoffset: 1;
    animation: dash 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite
        alternate-reverse;
}

@keyframes dash {
    to {
        stroke-dashoffset: 234;
    }
}
